/*********
 VARIABLES 
 *********/
 :root {
   /* colors */
   --accent: #F55A5A;
   --darkest: #2B283A;
   --grey: #918E9B;
   --light: #F5F5F5;
   --lightest: #F5F7FB;

   /* sizes */
   --tiny: .64rem;
   --med: .904rem;
   --large: 1.5625rem;

   /* heights */
   --LHsmall: .774rem;
   --LHmed: .96rem;
   --LHnav: 1.093rem;
   --LHlarge: 1.89rem;
 }

 /*******
  GENERAL 
  *******/
  body {
    margin: 15px auto ;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
    width: 550px;
  }
  #page {
    display: grid;
    grid-template: auto;
    grid-template: 55px 190px 30px 190px 30px 190px 30px / 550px;
    /* gap: 30px; */
    grid-template-areas: 
    "a"
    "b ";
    
    min-height: 100vh;
  }
  
  /******
  NAVBAR 
  ******/
  #navContainer {
    grid-area: a;
    max-width: 100%;
    background-color: var(--accent);
  }
  #navContainer h3 {
    color: var(--lightest);
    text-align: center;
    font-size: var(--med);
    font-weight: 300;
  }
  
  /*************
  CARD ELEMENTS 
  *************/
  #cardContainer {
    display: flex;
    margin: 15px 0;
  }
  #cardContainer img {
    width: 125px;
    height: 168px;
    margin-right: 20px;
    grid-area: b;
    
    border-radius: 7px;
    object-fit: cover;
  }
  #cardText {
    position: relative;
  }
  #hr {
    border-bottom: solid .1px var(--light); 
  }
  #cardText a {
    color: var(--grey);
    font-size: var(--tiny);
    font-weight: 400;
  }
  #cardText h3 {
    position: relative;
    font-size: var(--med);
    line-height: var(--LHsmall);
    font-weight: 400;
  }
  /* #cardText h3::before {
    content: url(./img/here.png);
    position: absolute;
    height: 10px;
    left: 0;
    top: 0;
  } */
  #cardText h4 {
    font-size: var(--tiny);
    font-weight: 700;
  }
  #cardText p {
    font-size: var(--tiny);
  }

